<template name="roomform">
    <form id="bldgRmSrch">
        <label style="color: #00f030;" for="DEPARTMENT">Department</label>
        <select id="DEPARTMENT">
            {{#each Dept}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
        <label style="color: #00f030;" for="COURSE">Course</label>
        <select id="COURSE">
        </select>
        <label style="color: #00f030;" for="SECTION">Section</label>
        <select id="SECTION">
        </select>
    </form>
    </template>


    <template name="roomcontent">
    <nav class="nav-n">
        <ul class="list-bar" id="blob">
            <li class="li-l">Take Me Here

            </li>
        </ul>
    </nav>
    <div class="list-frame" id="blob1">
        <list style="list-style: none">
       <!--     <li style="height: 65px; padding: 20px; border-bottom: 1px inset #003010">
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">M</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">T</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">W</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">TH</div>
                </span>
                <span style="float: left">
                    <div style="color: rgba(0,0,0,.5); width: 40px; text-align: center; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">F</div>
                </span>
                <span style="float: right;">
                    <div style="float: right; color: rgba(0,0,0,.5); border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">TI:ME</div>
                </span>
            </li>-->

            <!--<li style="height: 65px; padding: 20px; border-bottom: 1px inset #003010">
                <span style="color: #00f030;">TEACHER</span>
                <span><div style="float: right; color: #00f030; border: 1px solid #00f030; border-radius: 12.5px; padding-left: 10px; padding-right: 10px; background-color: #009020">OFFICE</div> </span>
            </li>-->
            <li style="height: 65px; padding: 20px; border-bottom: 1px inset #003010">
                <button style="color: #00f030; position: relative; width: inherit"  id="take">Take me here</button>
            </li>
        </list>
    </div>
</template>


<template name="ftr">
<p>
        <button class="logout" value="Logout" id="logout">Logout</button>
    <button class="logout"  id="maps">Maps</button>
    <button class="logout"  id="MyRooms">My Rooms</button>
        </p>
</template>
